@font-face {
    font-family: thewitcher;
    src: url("../font/thewitcher.ttf");
}

* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    box-sizing: border-box;
    display: grid;
    grid-template-rows: 1fr auto;
    min-height: 100%;
}

main {
    width: 100%;
}

nav .menu img {
    filter: invert();
    margin-top: 10px;
}

nav.scrolled {
    background-color: rgba(0,0,0,.9);
    transition: background-color 200ms linear;
}

nav .menu {
    padding: .2rem;
    height: 100%;
}

nav {
    position: fixed;
    width: 100%;
    background-color: rgba(0,0,0,.4);
    height: 50px;
    z-index: 999;
    transition: background-color 200ms linear;
}

.title {
    font-family: 'thewitcher', sans-serif;
    font-size: 180%;
    color: #fff;
    margin-left: 1rem;
    margin-right: 1rem;
    display: inline-block;
}

nav ul {
    display: inline-flex;
    height: 100%;
    list-style: none;
    align-items: center;
}

nav ul li {
    display: block;
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 120%;
    padding: 1rem 1rem .85rem;
    height: 100%;
    width: 100%;
    transition: 200ms;
}

nav a:hover {
    background-color: rgba(255,255,255,.4);
}

nav .active {
    background-color: rgba(255,255,255,.2);
}

footer {
    display: grid;
    width: 100%;
    padding: 1rem;
    box-sizing: border-box;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #303740;
}

footer > ul > li {
    margin: 0 1rem;
    transition: 200ms ease-in-out;
}

footer > ul > li:hover {
    filter: brightness(60%);
}

footer > *:nth-child(2) {
    justify-self: center;
}

footer > *:last-child {
    justify-self: right;
}

footer > * {
    align-self: center;
    font-size: 120%;
}

footer .signs button {
    font-family: 'thewitcher', sans-serif;
    border: none;
    background-color: transparent;
    font-size: 2rem;
}

footer .quen {
    color: #f4f22f;
}

footer .igni {
    color: #d21628;
}

footer .aard {
    color: #2dade2;
}

footer .yrden {
    color: #934d92;
}

footer .axii {
    color: #79a647;
}

footer p, footer > p > a {
    color: #fff;
}

footer > ul > li > a {
    color: #fff;
    text-decoration: none;
}

footer li {
    display: inline-block;
    color: #fff;
}

@media only screen and (max-width: 950px) {
    footer {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-row-gap: 1rem;
    }

    footer > ul > li:first-child {
        margin-left: 0;
    }

    footer > * {
        justify-self: left !important;
    }
}

@media only screen and (max-width: 580px) {
    nav {
        height: 91px;
        text-align: center;
    }

    nav a {
        padding: .5rem 1rem .5rem 1rem;
    }

    nav ul {
        height: unset;
        margin: 0;
    }

    nav .title {
        margin: 1rem;
    }
}
